.menu {
	border-bottom : 1px solid grey;
	background-color : #FFFFE0;
}

.menu #links {
	display : block;	
	background-color : #F0F0D0;
	padding : 4px;
	padding-left : 3%;
}

.menu #links a {
	margin-left : 2%;
}

#liens {
	height: 1.3em;
	padding : 0.3em 0.3em 0.1em;
}

.footer {
	margin: 0;
	padding: 0.5em;
	border-top: thin solid grey;
	border-bottom: thin solid grey;
	background-color : #FFFFE0;
}

.content {
	min-height : 80px;
	margin: 0;
	padding: 1em;
	padding-top 4em;
	padding-bottom : 4em;
}

.content p {
	margin-left : 2%;
}

.content p:first-letter {
	margin-left : 2%;
}

.logintbl {
	margin-left : 4%;
}

.logintbl td {
	text-align : right;
	padding-left : 5px;
	padding-right : 5px;
}

.logintbl input[type=submit]{
	display : block;	
	margin : auto;
}

html, body {
	padding: 0;
	margin: 0;
}

h1 {
	color: #8b4;
	margin : 5px;
}

h2 {
	color: #4a4;
}

h3 {
	color: #484;
}

h4 {
	color: #784;
}

h5 {
	color: #874;
}


hr {
	display: none;
}

a {
	color: black;
}

a:visited {
	color: #543;
}

a:hover {
	color: #c86;
}



dd {
	float:left;
	margin-left: 1em;
}

dt {
	float: left;
	clear: both;
	font-weight: bold;
}

h2#tache-description {
	padding-top: 0.3em;
	clear:both;
}
