<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pticlic"
      android:versionCode="1" android:versionName="@string/version">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:debuggable="true">
        <activity android:name=".Main" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".Preference" android:label="Préférence"></activity>
    <activity android:name=".games.BaseGame"></activity>
    <activity android:label="Information" android:name=".Information"></activity>
    <activity android:name=".Score" android:label="Score"></activity>
<activity android:name=".FrontPage"></activity>
</application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 
