.show-game {
	border-collapse: collapse;
	margin-left: 4em;
}

form * {
	margin-left: 0 !important;
}

.show-game td,
.show-game th {
	border: thin solid black;
	padding: 0.3em;
	text-align: left;
}

.show-game caption {
	text-align: left;
}
