/* Colors */

html, body {
	background-color: black;
	color: white;
}

.screen {
	background-color: black;
}

#splash.screen {
	background-color: black;
}

#mc-caption {
	color: white;
}

#mn-caption {
	color: white;
}

#mn-caption-block {
	border-color: #aaaaaa;
	background-color: #222222;
}

.relationBox {
	border-color: #cccccc;
	background-color: #222222;
}

.relations .hot {
	background-color: #cccccc;
}
