
/* Entête de la page. */
/*********************/
.android {
	font-size: 70%;
}

.menu {
	border-bottom : 1px solid grey;
	background-color : #FFFFE0;
	margin : 0px;
}

.menu #links {
	display : block;	
	background-color : #F0F0D0;
	border-top : 1px solid grey;
	padding : 4px;
	padding-left : 2.2%;
	padding-right : 1%;
}

.menu #links a {
	margin-right : 2em;
}

.menu #cnx {
	float : right
}



/* Contenu de la page */
/*********************/
.content {
	min-height : 80px;
	margin: 0;
	padding: 1em;
	padding-top: 1.2em;
	padding-bottom : 1.2em;
}

.content p {
	margin-left : 3em;
}

.content ul {
	margin-left : 1.5em;
}



/* Pied de page. */
/****************/
.footer {
	margin: 0;
	padding: 0.7em;
	border-top: thin solid grey;
	border-bottom: thin solid grey;
	background-color : #FFFFE0;
	font-size: 75%;
	text-align: center
}

.footer p {
	margin: 0;
}

.footer a,
.footer a:visited {
	color: black;
}

.footer a:hover,
a:hover {
	color: #c86;
}



/* Formulaires. */
/***************/
form {
	margin-left : 4em;
	margin-top : 4ex;
	margin-bottom : 4ex;
	margin-right : 4em;
}

form td:first-child {
	vertical-align : top;
	text-align : right;
	padding-right : 1em;
}

form td:last-child {
	vertical-align : top;	
	text-align : left;
	padding-left : 1em;
}

form input[type=submit] {
	display : block;	
	margin-left : 0px;
	margin-top : 2em;
}

.contact form textarea {
	width : 200%;
	height : 200px;
}

.creategame td {
	vertical-align : top;	
	text-align : right;
	padding-left : 3em;
	padding-right : 1em;
}

.creategame .wordsform .inputcell {
	vertical-align : top;	
	text-align : left;
	padding-left : 1em;
	padding-right : 3em;
}


/* Téléchargement. */
/******************/
.downloadarea {
	display : block;
	margin : 3em;
	margin-top : 2em;
}

#downloadlink {
	color : black;
	text-decoration : none;
	font-size : 16pt;	
	background-color: #ccccff;	
	border: medium solid #5555ff;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	padding: 0.5em;
	padding-left : 2em;
	padding-right : 2em;
}

#downloadlink:hover {
	background-color: #5555ff;
	color: white;
	border-color: #ccccff;
}



/* Autres. */
/**********/
html, body {
	padding: 0;
	margin: 0;
}

a {
	color: darkgreen;
}

a:visited {
	color: #765;
}

h1 {
	color: #8b4;
	margin : 0;
	margin : 0 2em 0.5ex 0.5em;
}

h2 {
	color: #4a4;
	margin : 1.5ex 2em 0 0;
}

h3 {
	color: #484;
	margin : 1.5ex 2em 0 1em;
}

h4 {
	color: #784;
	margin : 1.5ex 2em 0 1.5em;
}

h5 {
	color: #874;
	margin : 1.5ex 2em 0 1.8em;
}



/* Message d'informations (erreurs ou succès). */
/**********************************************/
.message {
	display : inline-block;
	padding : 2ex 6em 2ex 2em;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right : 6%;
	margin-left : 6%;
}

.warning {
	border : 1px dashed red;
	background-color : #F0C060;
}

.success {
	border : 1px dashed red;
	background-color : #90FF90;
}

.other {
	border : 1px solid yellow;
	background-color : #FFFFE0;
}
