.menu {
	border-bottom : 1px solid grey;
	background-color : #FFFFE0;
	margin : 0px;
}

.menu #links {
	display : block;	
	background-color : #F0F0D0;
	border-top : 1px solid grey;
	padding : 4px;
	padding-left : 3%;
	padding-right : 3%;
}

.menu #links a {
	margin-left : 2%;
}

#liens {
	height: 1.3em;
	padding : 0.3em 0.3em 0.1em;
}

.footer {
	margin: 0;
	padding: 0.5em;
	border-top: thin solid grey;
	border-bottom: thin solid grey;
	background-color : #FFFFE0;
        font-size: x-small;
        text-align: center
}

.content {
	min-height : 80px;
	margin: 0;
	padding: 1em;
	padding-top: 1.2em;
	padding-bottom : 1.2em;
}

.content p {
	margin-left : 2%;
}

.logintbl, .contacttbl, .signuptbl {
	margin-left : 4%;
}

.logintbl td, .contactbl td, .signuptbl td {
	width : 50%;
	text-align : right;
	padding-left : 5px;
	padding-right : 5px;
}

.logintbl input[type=submit], .contacttbl input[type=submit], .signuptbl input[type=submit] {
	display : block;	
	margin-left : 0px;
}

.contacttbl textarea {
	width : 200%;
	height : 200px;
}

html, body {
	padding: 0;
	margin: 0;
}

h1 {
	color: #8b4;
	margin : 5px;
}

h2 {
	color: #4a4;
}

h3 {
	color: #484;
}

h4 {
	color: #784;
}

h5 {
	color: #874;
}

a {
	color: black;
}

a:visited {
	color: #543;
}

a:hover {
	color: #c86;
}



dd {
	float:left;
	margin-left: 1em;
}

dt {
	float: left;
	clear: both;
	font-weight: bold;
}

h2#tache-description {
	padding-top: 0.3em;
	clear:both;
}

.message {
	width : 40%;
	display : block;
	padding : 5px;
	padding-left : 30px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right : 6%;
	margin-left : 6%;
}

.warning {
    	border : 1px dashed red;
	background-color : #F0C060
}

.success {
        border : 1px dashed red;
        background-color : #90FF90
}

#downloadlink {
	color : black;
	text-decoration : none;
	font-size : 16pt;	
	background-color: #8888ff;	
	border: medium solid blue;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	padding: 0.5em;
	padding-left : 2em;
	padding-right : 2em;
}

#downloadlink:hover {
	background-color: red;
}

.downloadarea {
	display : block;
	margin : 3em;
	margin-top : 2em;
}

#cnx {
    float : right
}

.android {
    font-size: 70%;
}
